.disclaimer {
  display: block;
  font-size: var(--margin-xl);
  margin-bottom: 0;
  width: 90%;
  color: black;
}

:root {
  --mimi-pink: #ffd6ffff;
  --mauve: #e7c6ffff;
  --mauve-2: #c8b6ffff;
  --periwinkle: #b8c0ffff;
  --periwinkle-2: #bbd0ffff;

  --persian-rose: #ff35a7ff;
  --tropical-indigo: #9b7edeff;
  --sapphire: #3857abff;

  font-size: 20px;
  --margin-xxs: 0.25rem;
  --margin-xs: 0.5rem;
  --margin-s: 0.75rem;
  --margin-m: 1rem;
  --margin-l: 1.25rem;
  --margin-xl: 1.75rem;
  --margin-xxl: 2.5rem;
  --margin-xxxl: 4rem;
  --margin-xxxxl: 6rem;
  --margin-xxxxxl: 10rem;
  --margin-xxxxxxl: 16rem;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: white;
  padding-top: var(--margin-xxxl);
  padding-bottom: var(--margin-xxxxl);
}

html,
head,
body {
  font-family: "Bree Serif", "Arial";
}

@media screen and (max-width: 1000px) {
  html {
    font-size: var(--margin-l);
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: var(--margin-s);
  }

  .section-container {
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

  .profile-photo {
    order: -1; /* 👈 moves image ABOVE text */
    justify-content: center;
    margin-bottom: var(--margin-s);
  }

  .about-me {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: var(--margin-xs);
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: var(--margin-xxs);
  }
}

.header {
  background-color: var(--tropical-indigo);
  display: grid;
  grid-template-columns: 1.2fr 1fr 1.2fr 1.2fr;

  font-size: 3vw;
  font-weight: 500;
  height: 5vw;
  width: 100vw;

  top: 0;

  position: fixed;
  z-index: 1;

  /* box-shadow: 0 2px 2px var(--persian-rose); */
}

.header-elem {
  padding-left: var(--margin-m);
  /* padding-right: 2rem; */
}

.header-elem:hover {
  cursor: pointer;
  background-color: var(--sapphire);
  color: white;
  transition: 300ms;
}

.section-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: var(--margin-m);
  margin-left: var(--margin-xxl);
  margin-right: var(--margin-xxxl);
}

.section-column {
  display: flex;
  flex-direction: column;
}

.section-header {
  text-align: left;
  font-size: var(--margin-xl);
  scroll-margin-top: var(--margin-xxxl);
  display: block;
  margin-bottom: var(--margin-xxs);
}

.about-me {
  text-align: left;
  display: block;
  width: 90%;
}

.profile-photo {
  margin-top: var(--margin-m);
  width: 50%;
  height: 50%;
  min-width: var(--margin-xxxxxl);
  min-height: var(--margin-xxxxxl);
  border-radius: 50%;
  border: var(--margin-xs) solid var(--tropical-indigo);
  overflow: hidden;
  display: inline-block;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-photo:hover {
  border-color: var(--persian-rose);
  transition: 300ms;
}

.header-projects {
  text-decoration: line-through;
}
.projects-section {
  text-decoration: line-through;
}
.projects {
  text-align: left;
}

.class-list-container {
  display: flex;
  align-items: left;
  justify-content: left;
}

.popup-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Dark semi-transparent overlay */
  z-index: 999;
  align-items: center;
  justify-content: center;
}

.popup-container {
  display: none;
  position: fixed;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--tropical-indigo);
  width: 80vw;
  height: 30vh;
  border-radius: var(--margin-xxl);
  border: solid black var(--margin-xxs);
  z-index: 1000;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-popup {
  background-color: var(--persian-rose);
  color: black;
  border: solid black 0.1rem;
  cursor: pointer;
  font-weight: bold;
}

.close-popup:hover {
  color: white;
  background-color: var(--sapphire);
}

sl-carousel-item {
  width: var(--margin-xxxxxl);
  height: var(--margin-xxxxxl);
}

sl-carousel {
  width: var(--margin-xxxxxxl);
  height: var(--margin-xxxxxxl);
}
