.disclaimer {
  font-size: 2.5rem;
}

:root {
  --mimi-pink: #ffd6ffff;
  --mauve: #e7c6ffff;
  --mauve-2: #c8b6ffff;
  --periwinkle: #b8c0ffff;
  --periwinkle-2: #bbd0ffff;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: var(--periwinkle);
  padding-top: 4rem;
  padding-bottom: 10rem;
}

html {
  font-size: 20px;
  font-family: "Bree Serif", "Arial";
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 6px;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 4px;
  }
}

.header {
  background-color: var(--mauve);
  display: grid;
  grid-template-columns: 1fr 1fr 1.2fr 1.2fr;

  font-size: 2rem;
  font-weight: 500;
  height: 3.2rem;
  width: 100vw;

  top: 0;

  position: fixed;
  z-index: 1;

  box-shadow: 0 2px 2px var(--mimi-pink);
}

.header-elem {
  padding-left: 1rem;
}
.header-elem:hover {
  cursor: pointer;
  background-color: rgb(205, 170, 205);
}

.profile-photo {
  margin: auto;
  margin-top: 5rem;
  display: flex;
  justify-items: center;
  align-items: center;
  width: 12rem;
  height: 12rem;
  margin-bottom: 0.5rem;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  border-radius: 90%;
  border-style: solid;
  border-width: 0.5rem;
  border-color: var(--periwinkle-2);
  object-fit: cover;
}

.section {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 2rem;
  text-decoration: underline;
  text-decoration-color: var(--mauve);
  margin-bottom: 0.5rem;
  scroll-margin-top: 4rem;
}

.about-me {
  margin: auto;
  text-align: center;
  width: 80vw;
}

.projects {
  text-align: center;
}

.class-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.responsive-iframe {
  position: relative;
  width: 100%;
  max-width: 400px; /* or any max width you want */
  margin: 0 auto;
  aspect-ratio: 10 / 15.8; /* matches your original ratio */
}

.responsive-iframe iframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
}
