:root {
  --mimi-pink: #ffd6ffff;
  --mauve: #e7c6ffff;
  --mauve-2: #c8b6ffff;
  --periwinkle: #b8c0ffff;
  --periwinkle-2: #bbd0ffff;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: var(--periwinkle);
  height: 1000px;
  padding-top: 2rem;
}

html {
  font-size: 50px;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 20px;
  }
}

.header {
  background-color: var(--mauve);
  display: grid;
  grid-template-columns: 33vw 33vw 33vw;
  font-size: 1rem;
  height: 2rem;

  top: 0;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  position: fixed;
}

.profile-photo {
  margin: auto;
  margin-top: 100px;
  display: flex;
  justify-items: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  border-radius: 75%;
  border-style: solid;
  border-width: 4px;
  object-fit: cover;
}

.name {
  width: 100%;
  text-align: center;
  font-size: 1rem;
}
