*,
.navbar {
  margin: 0;
  padding: 0;
}

.disclaimer {
  display: block;
  font-size: var(--margin-xl);
  margin-bottom: 0;
  width: 90%;
  color: black;
}

.blue {
  color: var(--sapphire);
  display: inline-block;
}

:root {
  --mimi-pink: #ffd6ffff;
  --mauve: #e7c6ffff;
  --mauve-2: #c8b6ffff;
  --periwinkle: #b8c0ffff;
  --periwinkle-2: #bbd0ffff;

  --persian-rose: #ff35a7;
  --tropical-indigo: #9b7ede;
  --sapphire: #3857ab;

  font-size: 20px;
  --margin-xxs: 0.25rem;
  --margin-xs: 0.5rem;
  --margin-s: 0.75rem;
  --margin-m: 1rem;
  --margin-l: 1.25rem;
  --margin-xl: 1.75rem;
  --margin-xxl: 2.5rem;
  --margin-xxxl: 4rem;
  --margin-xxxxl: 6rem;
  --margin-xxxxxl: 10rem;
  --margin-xxxxxxl: 16rem;
  --body-s: 10rem;
  --body-m: 24rem;
  --body-l: 36rem;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: white;
  padding-top: var(--margin-xxxl);
  padding-bottom: var(--margin-xxxxl);
  overflow-x: hidden;
}

html,
head,
body {
  font-family: "Bree Serif", "Arial";
}

p {
  margin: var(--margin-xs);
}

h1 {
  font-size: var(--margin-xxl);
}

h2 {
  font-size: var(--margin-l);
}

.accent {
  color: var(--tropical-indigo);
  display: inline-block;
}

.header {
  display: flex;
  flex-direction: row;

  font-size: 3vw;
  font-weight: 500;
  width: 100%;

  top: 0;

  position: fixed;
  z-index: 1;

  /* box-shadow: 0 2px 2px var(--persian-rose); */
}

.header-elem {
  background-color: var(--tropical-indigo);
  text-align: center;
  flex-grow: 1;
  /* padding-right: 2rem; */
}

.header-elem:hover {
  cursor: pointer;
  background-color: var(--sapphire);
  color: white;
  transition: 300ms;
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 90%;
  padding-bottom: var(--margin-m);
  margin-left: var(--margin-xxl);
  margin-right: var(--margin-xxl);
}

.section-column {
  display: flex;
  flex-direction: column;
  max-width: 75vw;
}

.section-header {
  text-align: left;
  font-size: var(--margin-xl);
  scroll-margin-top: var(--margin-xxxl);
  display: block;
  margin-bottom: var(--margin-xs);
}

.about-me-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-me {
  text-align: left;
  display: block;
  width: 90%;
}

.profile-photo {
  margin-top: var(--margin-m);
  max-width: 25vw;
  max-height: 25vw;
  min-width: var(--margin-xxxxxl);
  min-height: var(--margin-xxxxxl);
  border-radius: 50%;
  border: var(--margin-xs) solid var(--tropical-indigo);
  overflow: hidden;
  display: inline-block;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-photo:hover {
  border-color: var(--persian-rose);
  transition: 300ms;
}

.projects-section {
  color: white;
  background-color: var(--sapphire);
  padding-top: var(--margin-l);
  margin-top: var(--margin-m);
  margin-bottom: var(--margin-m);
}

.class-list-container {
  display: flex;
  align-items: left;
  justify-content: left;
}

.class-list {
  text-align: left;
}

.class-projects {
  font-size: var(--margin-s);
  color: rgb(50, 50, 50);
}

.popup-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Dark semi-transparent overlay */
  z-index: 999;
  align-items: center;
  justify-content: center;
}

.popup-container {
  display: none;
  position: fixed;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--tropical-indigo);
  width: 80vw;
  height: 30vh;
  border-radius: var(--margin-xxl);
  border: solid black var(--margin-xxs);
  z-index: 1000;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-popup {
  background-color: var(--persian-rose);
  color: black;
  border: solid black 0.1rem;
  cursor: pointer;
  font-weight: bold;
}

.close-popup:hover {
  color: white;
  background-color: var(--sapphire);
}

.project-card {
  transition: transform 0.3s, box-shadow 0.3s;
  border: none;
  border-radius: var(--margin-s);
  overflow: hidden;
  margin-top: var(--margin-l);
  margin-bottom: var(--margin-xl);
  width: 100%;

  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.project-card:hover {
  transform: translateY(var(--margin-s));
  box-shadow: 3px 2px 10px rgb(from var(--tropical-indigo) r g b / 80%);
}

.card-img-top {
  height: 250px;
  object-fit: cover;
  transition: transform 0.5s;
}

.project-card:hover .card-img-top {
  transform: scale(1.05);
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-text {
  flex-grow: 1;
}

.tech-badge {
  margin-right: 5px;
  margin-bottom: 5px;
}

.btn {
  background-color: var(--tropical-indigo);
  border-color: var(--tropical-indigo);
  color: black;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: var(--margin-l);
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: var(--margin-s);
  }

  .section-header,
  .section-container,
  .section-column,
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: auto;
    max-width: 100%;
    max-height: 100%;
  }

  .section-container {
    width: 80%;
  }

  .profile-photo {
    order: -1; /* moves image ABOVE text */
    justify-content: center;
    margin-bottom: var(--margin-s);
    max-width: 25vw;
    max-height: 25vw;
  }

  .about-me {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: var(--margin-xxs);
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: var(--margin-xxxxs);
  }
}
